{{define "base"}}
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{{template "title" .}} - Go</title>
	<link rel='stylesheet' href='/assets/style.css'>
	<link rel='shortcut icon' href='/assets/favicon.ico' type='image/x-icon'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
{{template "header" .}}
{{template "main" .}}
{{template "footer" .}}
</body>
</html>
{{end}}
