{{define "title"}}Signaler{{end}}
{{define "main"}}
<main class="container">
    <h1>Signaler</h1>
    <div class="grid">
        <div>
            <form action="/signaler" method="post">
                <label for="nom">Votre nom *</label>
                <input type="text" id="nom" name="nom" placeholder="Par exemple N.K. Jemisin" required>
                <small>Nous ne le divulguerons sans doute pas ...</small>
                <button type="submit">Soumettre</button>
            </form>
        </div>
        <div style="padding: 0 2rem">
            <h2>Les signalements</h2>
            <ul>
                {{range .Reports}}<li>Signalement du {{humanDate .Created}} par <b>{{.Reporter}}</b></li>{{end}}
            </ul>
        </div>
    </div>
</main>
{{end}}
